@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}

header {
    width: 90%;
    position: relative;
    padding: 2em 0;

    ol {
        padding: 0;
        display: flex;
        justify-content: space-between;
        gap: 0em;
        counter-reset: steps;

        li {
            width: 1em;
            display: flex;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1;
            text-align: center;
            background-color: black;
            border-radius: 50%;
            transition: background .5s;
            counter-increment: steps;

            &::after {
                content: counter(steps);
                font-size: .8em;
                color: white;
                display: block;
            }

            &:nth-child(2) {
                counter-set: steps 0;
            }

            &:first-child::after {
                content: '\2139';
            }

            &:nth-child(2):after {
                content: '\2139 \2139';
                counter-reset: steps;
            }

            &:last-child::after {
                content: "\1f4be";
            }
        }

        .active~li {
            background-color: grey;
        }
    }

    #progress {
        --progress: 0;
        z-index: -1;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 2px;
        width: calc(var(--progress) * 100%);
        background-color: black;
        transition: width .5s;
    }

}

form {
    flex: 1;
    position: relative;
    width: 100%;

    .form-step {
        --radius: max(8vw, 8vh);
        width: 100%;
        position: absolute;
        top: 0;
        height: 100%;
        transition: all .5s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        hr {
            width: 50%;
        }

        & .label-audio {
            position: absolute;
            top: 50%;
            left: 50%;

            &:nth-child(1) {
                --color: gray;
                transform: rotate(270deg) translate(var(--radius)) rotate(-270deg);
            }

            &:nth-child(2) {
                --color: blue;
                transform: rotate(150deg) translate(var(--radius)) rotate(-150deg);
            }

            &:nth-child(3) {
                --color: blue;
                transform: rotate(30deg) translate(var(--radius)) rotate(-30deg);
            }
        }

        transform: translateX(-100%);

        &.active {
            transform: translateX(0%);
        }

        &.active~.form-step {
            transform: translateX(100%);
        }
    }

    .form-step #intro {
        max-width: 80vw;
        line-height: 1.8;
        text-align: justify;
    }
}

footer {
    display: flex;
    width: 100%;
    justify-content: space-between;

    button {
        width: 10vw;
        height: 10vw;
        border: 0;
        font-size: 3em;
        background: none;
        cursor: pointer;

        &[data-disabled="true"] {
            color: #bdbdbd;
        }
    }
}





/*  */

& .audios {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

& input[type=radio] {
    display: none;
}

& label.audio {
    --progress-value: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 0;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;

    background:
        radial-gradient(closest-side, white 90%, transparent 91% 100%),
        conic-gradient(var(--color) calc(var(--progress-value) * 1%), transparent 0);

    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    transition: all .2s;

    &.active {
        box-shadow: unset;
        background:
            radial-gradient(closest-side, rgb(221, 221, 255) 80%, white 80%, white 90%, transparent 91% 100%),
            conic-gradient(blue calc(var(--progress-value) * 1%), transparent 0);
    }
}